/* Container styling */

.drive-cover{
  min-width: 100%;
  min-height: 100%;
  background-color:#dfdfdf;
}
.drive-wrapper {
  max-width: 700px;
  margin: 50px auto;
  padding: 30px; 
  background: #afaeae;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.drive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.drive-header h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.drive-actions .icon-btn {
  /* background-color: #f0f0f0; */
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.drive-actions .icon-btn:hover {
  background-color: #e0e0e0;
}

/* File/Folder List */
.drive-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.drive-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color
}